<section class="">
  <footer class="text-center text-white" style="background-color: #2d3436;">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">
              Registrate gratis!
            </span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Registrar
          </button>
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">CyberKong.com</a>
    </div>
  </footer>
</section>