<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1e2324">
  <a class="navbar-brand" href="./">
    CyberKong PC
    <img height="50px" width="50px" src="images/cyberkonglogo.png" alt="cyberonglogo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="login">Ingresar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="register">Registrarme</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" role="form">
      <input style="width: 35em" class="form-control mr-lg-5" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
