.carrito-container{
    padding-top: 1em;
    overflow-y: scroll;
}

.listed-items{
    margin-left: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.single-item{
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(107, 117, 126);
    border-radius: 0.4em;
    display: flex;
    color: aliceblue
}

.single-item img{
    margin-right: 1em;
    max-width: 100px;
    border-radius: 0.2em;
    object-fit: contain;
}

.single-item div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.single-item div button{
    background-color: inherit;
    border: none;
    font-size: 1.5em;
    color: rgb(119, 28, 28);
}

.carrito-container {
    height: 90%;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
}

.carrito-container > h1 {
    margin-right: 1em;
}

.buy-section{
    width: 100%;
    height: 10%;
    background-color: #2d3436;
    display: flex;
    justify-content: end;
    align-items: center;
}

#comprar {
    width: 20em;
    height: 4em;
    margin: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
}