body{
    background-color: #f8e1cf;
}

*{
    margin: 0;
    padding: 0;
}

/*Estilos Genericos*/

.main-page{
    margin: 0 1em 1em 1em;
    border-radius: 0 0 0.4em 0.4em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff7f0;
    height: 100vh;
}

.main-header{
    background-color: #2d3436;
    height: 2em;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.main-nav-btn{
    border: none;
    height: 90%;
    min-width: 120px;
    background-color: #2d3436;
    color: aliceblue;
}

.non_selectable{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/*Estilos especiales*/

.product-list-items::-webkit-scrollbar {
    width: 10px;
}

.product-list-items::-webkit-scrollbar-track {
    margin: 1em;
    background: #dcdcdf;
    border-radius: 2em;
}

.product-list-items::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 2em;
}

.product-list-items::-webkit-scrollbar-thumb:hover {
    background: #6c6b8a;
}

.product-body::-webkit-scrollbar {
    width: 10px;
}

.product-body::-webkit-scrollbar-track {
    background: #f9f9fd;
    border-radius: 2em;
}

.product-body::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    background: #363636;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*Estilos que no se donde se usan*/

.txtcenter{
    text-align: center;
}

.carruseltop{
    margin-top:2em;
}

.contenedor-imagenes{
    margin: 2em 0;
}

.contenedor-imagenes img{
    margin:0 50px 0 50px;
    border: 5px solid blue;
    border-radius: 15em;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

